/* General Styles */
body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

h2 {
  text-align: center;
  color: #333;
}

h3 {
  color: #444;
  text-align: center;
}

input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  font-size: 16px;
}

button {
  width: 100%;
  background-color: #28a745;
  color: white;
  padding: 10px;
  margin: 10px 0;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

button:hover {
  background-color: #218838;
}

/* Forms Container */
#login-form,
#register-form,
#student-form {
  width: 100%;
  max-width: 400px;
  background-color: white;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  display: none;
}

#login-form {
  display: block;
}

/* Toggle Button */
#toggle-forms {
  background-color: #007bff;
  color: white;
  padding: 10px;
  width: 100%;
  margin: 20px 0;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#toggle-forms:hover {
  background-color: #0069d9;
}

/* Responsive Styles */
@media (max-width: 600px) {
  body {
    padding: 20px;
  }
}
